<app-header></app-header>
<div class="wishlist">
<h2>Your Favourites</h2>
<app-not-found [visible]="!wishlists || wishlists.items.length<=0"
notFoundMessage="Wishlist Is Empty!"
resetLinkText="Add Favourites"></app-not-found>
<ul>
    <li *ngFor = 'let wishlistItem of wishlists.items'>
        <a routerLink = "/home/{{ wishlistItem.prod.displayName }}/details">
            <img [src]="wishlistItem.prod.imageUrl" alt="">
            <div class= " content">
                <div class="name">
                    <br>
                    <!-- <span layout="row"><hr flex/></span> -->
                    {{ wishlistItem.prod.displayName }}
                    <!-- </span> -->
                </div>
            </div>
        </a>
        <div class="buttons">
            <button class="btn btn-primary" (click) = "moveToCart(wishlistItem)">Move to Cart</button> 
            <button class="btn btn-primary" (click) = "removeFromwishlist(wishlistItem)"> Remove</button>
        </div>
    </li>
</ul>
</div>